<div class="container">
    <!-- <div class="img">
        <img src="../../assets/OPF Logo Mail.png">
    </div> -->
    <div class="login-content">
        <img src="../../assets/avatar.svg">
        <h2 class="title">Student Details</h2>
        <div class="student-info">
            <div class="info-row">
                <div class="info-label">Name:</div>
                <div class="info-value">{{ student.name }}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Age:</div>
                <div class="info-value">{{ student.age }}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Grade:</div>
                <div class="info-value">{{ student.grade }}</div>
            </div>
            <div class="info-row">
                <div class="info-label">Address:</div>
                <div class="info-value">{{ student.address }}</div>
            </div>
        </div>
    </div>
</div>