<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<img class="wave" src="../../assets/wave.png">
	<div class="container">
		<div class="img">
			<img src="../../assets/OPF Logo Mail.png">
		</div>
		<div class="login-content">
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<img src="../../assets/avatar.svg">
				<h2 class="title">Welcome</h2>
				<div class="input-div one"
					[class.focus]="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>email</h5>
						<input type="text" class="input" formControlName="email">
					</div>
				</div>
				<div class="input-div pass"
					[class.focus]="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Password</h5>
						<input type="password" class="input" formControlName="password">
					</div>
				</div>
				<a routerLink="/registration" routerLinkActive="active">Register New User</a>
				<a routerLink="/forget-password" routerLinkActive="active">Forgot Password?</a>
				<a><input type="submit" class="btn" value="Login" [disabled]="loginForm.invalid"> </a>
			</form>

		</div>
	</div>
</body>

</html>