<img class="wave" src="../../assets/wave.png">
<div class="container">
  <div class="img">
    <img src="../../assets/OPF Logo Mail.png">
  </div>
  <div class="login-content">
    <form (ngSubmit)="onSubmit()">
      <img src="../../assets/avatar.svg">
      <h2 class="title">Forget Password</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-envelope"></i>
        </div>
        <div class="div">
          <h5>Email</h5>
          <input type="email" class="input" [(ngModel)]="email" name="email" required>
        </div>
      </div>
      <input type="submit" class="btn" value="Reset Password">
    </form>
  </div>
</div>
